<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.cuantifica">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CUantifica"
        tools:targetApi="31">

        <!-- Splash / Loading screen -->
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Conexión IP -->
        <activity android:name=".ConexionActivity" />

        <!-- Pantalla principal -->
        <activity android:name=".MainActivity" />

        <!-- Pantalla de gráficas -->
        <activity android:name=".GraficasActivity" />

        <!-- Detalle de Gráfica Lineal -->
        <activity android:name=".LinealActivity" />

        <!-- Detalle de Gráfica de Barras -->
        <activity android:name=".BarrasActivity" />

        <!-- Interpretación de Gráfica Lineal -->
        <activity android:name=".InterpretacionLinealActivity" />

        <!-- Pantalla de Email -->
        <activity android:name=".EmailActivity" />

        <!-- Pantalla de Confirmación -->
        <activity android:name=".ConfirmacionActivity" />

    </application>

</manifest>
